.App{

   
}

input{


    outline: none;
    height:100%;
    width:18rem;
    border: 2px solid #702963;
    border-radius: 1rem;
    padding:1.2rem;
    font-size: larger;
}

.btn{
 
     height: 3rem;
     width: 80%;
    margin-top:20px;
    margin-left:30px;
    /* background: none; */
    border-radius:1rem ;
    border: 2px solid #702963;
    font-size: larger;
    background: rgb(71, 8, 71);
    font-weight: 600;
    color:white;
    cursor: pointer;
}

body{
    background-color:  #702963;
    display:grid ;
   justify-content: center;
   align-items: center;
   height: 100vh;
   /* padding-top: 20rem; */
}